<%-include ('header')%>
<!-- -----------------------Nav Bar section----------------------------- -->


<nav class="navbar  navbar-expand-sm  fixed sticky-top  bg"  >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h4 style=" font-weight:bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" routerLink="/home"> DRIVE YOUR CAR</h4>
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a href="aboutus" class="nav-link "  style="color:whitesmoke;"><span class="fa fa-info fa-lg"></span> ABOUTUS</a>
        </li>
        <li class="nav-item">
          <a href="contact" class="nav-link " style="color:whitesmoke;"><span class="fa fa-address-card fa-lg"></span> CONTACT</a>
        </li>
      </ul>
    <span class="navbar-text  dot " style="color:rgb(245, 231, 231); ">
        <!-- <a href="" style="color:white;text-decoration:none" data-toggle="modal" data-target="#exampleModal" > -->
        <a href="signup" style="color:white;text-decoration:none">
          <i class="fa fa-sign-in margin-right:5px"></i> Login </a>
    </span>

    </div>
</nav>
 <!-- if(isvalid===false)
    <div class="alert alert-danger alert-dismissible">

        <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="this.parentElement.style.display='none'">&times;</a>
        <strong>Incorrect credentials!</strong>
    </div>
} -->


  <div  class="backcolor">
    <header class="jumbotron image" >
        <div class="container " >
              <div class="row row-header sam ">
                  <div class="col-12 col-sm-6 " >
                      <h2 class="serif font "  style="text-shadow:3px 3px lightseagreen;">DRIVE YOUR CAR <span  class="fa fa-car" aria-hidden="true"></span>
                         ADVANTAGE</h2>
                      <h4 class="forbold serif "  style="text-shadow:1px 1px lightseagreen;">
                        We simplified car <span class="fa fa-car"></span> rentals, so you can focus on what's important to you.</h4>
                  </div>
              </div>
              <!-- <button class="sambutton"   data-toggle="modal" data-target="#exampleModal" >SignUp</button> -->
              <a href="signup"><button class="sambutton" >SignUp</button></a>

          </div>
          <div class="container1">
            <div class=" text-block">
                <p style="text-align: center; margin-top: 9px; font-size: 20px;">WHEREVER YOU GO, GO WITH ALL YOUR HEART! <i class="fa fa-heart heart"></i> AND GOOD CAR ALWAYS HELP WITH YOUR JOURNEY</p><br>
                <p style="text-align: center; margin-top: -20px; font-size: 18px">SOME DAYS, NOTHING BEATS A REALLY GOOD DRIVER</p>

            </div>
          </div>
        </header>

        <div class="container  ">
            <h3 class="  mb-4 text" style="margin-top: 135px; padding-bottom: 10px; border-bottom:1px solid; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">THE DRIVE YOUR CAR FEATURES</h3>
            <div class="row  ">
              <div class="col-12 col-sm-6 col-lg-3 mt-5 mb-4" style="padding-bottom: 55px;">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="/images/money 1.png" style="width:245px;height:195px; opacity: 0.8;">
                      <!-- <img src="C:\Users\deepa\OneDrive\Desktop\MajorProject\public\uploads\img-1604828489701.jpg" style="width:245px;height:195px; opacity: 0.8;"> -->
                    </div>
                    <div class="flip-card-back">
                      <h1 class="fa fa-rupee text-center car"></h1>
                      <div class="card-body">
                        <p class="card-text">Our prices include taxes and insurance.
                          What you see is what you really pay!.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3 mt-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="/images/129-1294589_burton-lumber-heber-city-location-driving-directions-car.png" alt="Avatar" style="opacity: 0.8; width:245px;height:195px;">
                    </div>
                    <div class="flip-card-back">
                      <h1 class="fa fa-map-marker text-center car" aria-hidden="true"></h1>
                      <div class="card-body">
                        <p class="card-text">Our cars have all-India permits. Just remember to pay state tolls and entry taxes</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3 mt-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="/images/109372737-gradient-shopping-banner-special-offer-sign-icon-sale-symbol-sales-tag-abstract-template-for-design-.jpg" alt="Avatar" style="opacity: 0.8; width:245px;height:195px;">
                    </div>
                    <div class="flip-card-back">
                      <h1 class="fa fa-gift text-center car" aria-hidden="true"></h1>
                      <div class="card-body">
                        <p class="card-text">After every 2 months all of our customer will get offer of 10% on every car</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3 mt-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front ">
                      <img src="/images/petrol-icon-vector-2808380.jpg" alt="Avatar" style="width:245px;height:195px; opacity: 0.8">
                    </div>
                    <div class="flip-card-back">
                      <h1 class="fa fa-tint text-center car" aria-hidden="true"></h1>
                      <div class="card-body">
                        <p class="card-text">Don't worry about mileage! All fuel costs are included. If you refill fuel, we'll pay you back!.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
    <div style="background-color: rgb(244, 245, 245); margin-top: 250px; padding-top: 40px; padding-bottom: 30px; position: relative;">
      <div class="container serif ">
         <div class="container1">
        <div class=" text-block1">
            <h2 class=" sam2" style="text-align: center; margin-top: 9px;">HOW DRIVE YOUR CAR WORKS</h2>
            <h3  style="text-align: center; margin-top: 150px; color:rgb(253, 253, 253);text-shadow:3px 3px rgb(17, 17, 17);  font-size: 45px;">Drive yourself to an adventure and back in 4 simple steps</h3>
        </div>
      </div>

        <div class="row row-content align-item-center mb-5 " style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

          <div class="col col-sm order-sm-first col-md s1 mt-15">
              <div class="media">
                  <img class="d-flex mr-4 img-thumbnail align-self-center" src="/images/stock-photo-car-transportation-red-wheel-riding-driving-hands-man-drive-e8ba670b-4f48-4970-b5cc-942bc71cf7d4.jpg" style="width: 300px; height: 300px; border-radius:50%; ">
                  <div class="media-body">
                      <h4 class="mr-2 ml-3" ><span class="badge badge-danger">Step 1</span> BOOK </h4>
                      <p class="d-none d-sm-block mr-2 ml-3 " style="border-bottom:1px solid;">Find a car whichever you want (8 seater, 4 seater, and Bike) from registered car and book that car .Please check your booking before making any payment inshort <strong> Search and book a car on our site!</strong> <p>
                      <br>
                        <h4 class="mr-2 ml-3"> <span class="badge badge-danger">step2</span> UNLOCK </h4>
                        <p class="d-none d-sm-block mr-2 ml-3 " style="border-bottom:1px solid;">After booking the second step is We SMS your car details 20 minutes before pickup. so please provide right information so it may be easy while contacting </p>
                       <br>
                        <h4 class="mr-2 ml-3"> <span class="badge badge-danger">step3</span> DRIVE YOUR CAR</h4>
                      <p class="d-none d-sm-block mr-2 ml-3" style="border-bottom:1px solid;">Grab the keys from the location and drive.. </p><br>

                      <h4 class="mr-2 ml-3"> <span class="badge badge-danger">step4</span> Return</h4>
                      <p class="d-none d-sm-block mr-2 ml-3">Return the car to the same location....this is the last step, enjoy your JOURNEY with your car </p>

                      </div>
              </div>
          </div>
      </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
          <div class="modal-body image3">
            <div class="form">
              <div class="tab-header">
                <div class="active">Sign Up</div>
                <div>Sign In</div>
              </div>
              <div class="tab-content">

              <!----------------------------- Signup model --------------------------------------->
              <div class="tab-body active">
              <form class="" action="/signup" method="post">
                  <div class="form-element">
                   <i class="fa fa-user fa-2x cust" aria-hidden="true" ></i>
                   <input  type="text" name="fname" placeholder="First & Last Name" required  style="padding-left: 38px;">
                  </div>
                  <div class="form-element">
                    <i class="fa fa-envelope fa-2x cust" aria-hidden="true" ></i>
                    <input type="email" name="email" placeholder="Email" required style="padding-left: 38px;">
                  </div>
                  <div class="form-element">
                    <i class="fa fa-lock fa-2x cust" aria-hidden="true" ></i>
                    <input  type="password" name="password" placeholder="Password" required style="padding-left: 38px;">
                  </div>
                  <div class="form-element">
                    <i class="fa fa-address-book fa-2x cust" aria-hidden="true" ></i>
                    <input type="text" name="number" placeholder="Contact Number" required style="padding-left: 38px;">
                  </div>
                  <div class="form-element">
                    <button type="submit"  style="width: 47%; margin-right: 14px; border: 2px solid rgb(250, 201, 231); background-color:rgb(54, 0, 50, 0.349);" value="Signin">Sign Up</button>
                  <button type="button"  style="color: rgb(252, 252, 252); border: 2px solid rgb(250, 201, 231); width: 48%;  background-color:rgb(54, 0, 50, 0.349); " data-dismiss="modal">Cancle</button>
                  </div>
              </form>
              </div>
<!------------------------------------------ Login model -------------------------->
          <div class="tab-body">
            <form  action="/afterlogin" method="post">
                <div class="form-element">
                  <i class="fa fa-envelope fa-2x cust" aria-hidden="true" ></i>
                  <input  type="email" name="email" placeholder="Email / username" required style="padding-left: 38px;">
                </div>
                <div class="form-element">
                  <i class="fa fa-lock fa-2x cust" aria-hidden="true" ></i>
                  <input  type="password" name="password" placeholder="Password" required style="padding-left: 38px;">

                </div>
                <div class="form-element">
                  <input type="checkbox" id="remember_me">
                  <label for="remember_me" style="color:white ;">Remember me</label>
                </div>
                <div class="form-element"">
                  <button type="submit"  style="width: 47%; margin-right: 17px; border: 2px solid rgb(250, 201, 231); background-color:rgba(54, 0, 50, 0.349);" value="Signin">Sign In</button>
                <button type="button" style="color: rgb(252, 252, 252); border: 2px solid rgb(250, 201, 231); width: 48%;  background-color:rgb(54, 0, 50, 0.349); " data-dismiss="modal">Cancle</button>
                </div>
            </form>
            </div>


              </div>

              </div>

         </div>

        </div>
      </div>
    </div>


  <footer class="footer-distributed" >

      <div class="footer-left">

        <h3>Drive Your <span>Car</span></h3>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>

          <a href="#">Register</a>

          <a href="#">Pricing</a>

          <a href="aboutus">About</a>

          <a href="contact">Contact</a>
        </p>

        <p class="footer-company-name">Drive Your Car © 2020</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Madhvan nagar Bheriya jadjad jabalpur road sagar</span> Madhay Pradesh, India</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>9926449654</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">driveyourcar@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About Drive your car services</span>
          Drive your car provides car at rent in very low cost .our service is feasible for eveyone. our staring price is just only 75/- :)
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-envelope-o"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>


<style media="screen">
  .footer-distributed{
  	background:rgb(24, 24, 24);
  	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  	box-sizing: border-box;
  	width: 100%;
  	text-align: left;
  	font: bold 16px sans-serif;
  	padding: 55px 50px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  	display: inline-block;
  	vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left{
  	width: 40%;
  }

  /* The company logo */

  .footer-distributed h3{
  	color:  #ffffff;
  	font: normal 36px 'Open Sans', cursive;
  	margin: 0;
  }

  .footer-distributed h3 span{
  	color:  lightseagreen;
  }

  /* Footer links */

  .footer-distributed .footer-links{
  	color:  #ffffff;
  	margin: 20px 0 12px;
  	padding: 0;
  }

  .footer-distributed .footer-links a{
  	display:inline-block;
  	line-height: 1.8;
    font-weight:400;
  	text-decoration: none;
  	color:  inherit;
  }

  .footer-distributed .footer-company-name{
  	color:  rgb(185, 182, 182);
  	font-size: 14px;
  	font-weight: normal;
  	margin: 0;
  }

  /* Footer Center */

  .footer-distributed .footer-center{
  	width: 35%;
  }

  .footer-distributed .footer-center i{
  	background-color:  #878a8daf;
  	color: #ffffff;
  	font-size: 25px;
  	width: 38px;
  	height: 38px;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 42px;
  	margin: 10px 15px;
  	vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope{
  	font-size: 17px;
  	line-height: 38px;
  }

  .footer-distributed .footer-center p{
  	display: inline-block;
  	color: #ffffff;
    font-weight:400;
  	vertical-align: middle;
  	margin:0;
  }

  .footer-distributed .footer-center p span{
  	display:block;
  	font-weight: normal;
  	font-size:14px;
  	line-height:2;
  }

  .footer-distributed .footer-center p a{
  	color:  lightseagreen;
  	text-decoration: none;;
  }

  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  /* Footer Right */

  .footer-distributed .footer-right{
  	width: 20%;
  }

  .footer-distributed .footer-company-about{
  	line-height: 20px;
  	color:  #92999f;
  	font-size: 13px;
  	font-weight: normal;
  	margin: 0;
  }

  .footer-distributed .footer-company-about span{
  	display: block;
  	color:  #ffffff;
  	font-size: 14px;
  	font-weight: bold;
  	margin-bottom: 20px;
  }

  .footer-distributed .footer-icons{
  	margin-top: 25px;
  }

  .footer-distributed .footer-icons a{
  	display: inline-block;
  	width: 35px;
  	height: 35px;
  	cursor: pointer;
  	background-color:  #878a8daf;
  	border-radius: 2px;

  	font-size: 20px;
  	color: #ffffff;
  	text-align: center;
  	line-height: 35px;

  	margin-right: 3px;
  	margin-bottom: 5px;
  }
</style>

  <script type="text/javascript">
    let tabPanes = document.getElementsByClassName("tab-header")[0].getElementsByTagName("div");

    for(let i=0;i<tabPanes.length;i++){
      tabPanes[i].addEventListener("click",function(){
        document.getElementsByClassName("tab-header")[0].getElementsByClassName("active")[0].classList.remove("active");
        tabPanes[i].classList.add("active");

        document.getElementsByClassName("tab-content")[0].getElementsByClassName("active")[0].classList.remove("active");
        document.getElementsByClassName("tab-content")[0].getElementsByClassName("tab-body")[i].classList.add("active");
      });
    }

    $(window).scroll(function(){
      $('nav').toggleClass("scrolled",$(this).scrollTop()>55);
    });
  </script>
  </body>
  </html>
